
html, body{
	margin:0px;
	padding:0px;
	overflow-x: hidden !important;
	color: #838282;
	font-family: 'Brush Script MT', cursive; 
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*='col-'] {
	padding: 0px;
    float: left;

}
header{
  z-index: 1;
  position:fixed; 
  width:100%; 
  height:60px; 
  background:rgba(0,0,0,0.1);
  text-align: center;
}

header a{
  color:white;
  background:rgba(0,0,0,0.1); 
  display:inline-block; 
  padding:0px 0px; 
  height:60px;
  line-height:60px; 
  text-align:center;
  text-decoration:none;
  text-transform:uppercase; 
  letter-spacing:2px; 
  font-weight:700;
}

#home {
	background: linear-gradient(
	rgba(20,20,20, .4),
	rgba(20,20,20, .4)),
	url(http://4.bp.blogspot.com/-dJloOWLkaeg/T0xZeKfnZEI/AAAAAAAAHKw/Oign_CJu870/s1600/pink-butterfly-garden.jpg);
	background-attachment:fixed;
	background-size:cover;
	background-position:center center;
	min-height:100vh;
	}
#galllary_choli {
	top:80px;text-align:center;color:black;}

.inner {
	width:100%;
	min-height:100vh;
	position: relative;
	}

.home-content{
	text-align:center;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	width:100%;
	color:white;
	}
	
	
#gallary {
	float:left;
	}



@media only screen and (min-width: 300px) {
	width:100%;
}
@media only screen and (min-width: 390px) {
    .col-13 {width: 45%;}

}
@media only screen and (min-width: 500px) {
    .col-13 {width: 30%;}

}

@media only screen and (min-width: 700px) {
    .col-13 {width: 23%;}

}

@media only screen and (min-width: 1400px) {
    .col-13 {width: 15%;}
}

.photo_Container{
    position:relative;
	padding:0px 20px 50px 20px;
	color:#000;
	text-align:center;
	margin:70px 0;
    }


.photo ul{
    text-align: center;
    text-decoration:none;
	padding:10px 0 10px 0;
}


.photo li{       
	border:2px solid gray;
	overflow:hidden;
    margin-top:10px;
	display:inline;

    }
	
	
.photo img {
 -webkit-transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
       -o-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
		  }
		  
		  
.photo img:hover {

    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.3);

		  }
		  
li img {width:100%; height:270px;}
	
span{color:yellow;}
h2{color:black;}

.footer {
	min-height:100px;
	background:black;
	color:white;
	text-align:center;
	width:100%;
	padding:20px;
	margin-top:20px;
	bottom:0;
	float:left;
	left:0;
	display:block;
	}
a, a:visited {color:#fff}

a:active{color:#ccc;}

a:hover{color:#ddd;}

.main_btn{
display:inline;
position:fixed;
top:70px;
z-index:99;
right:10%;
  background-color:#F44336;
  width:70px;
  height:70px;
  border-radius:100%;
  background:#F44336;
  border:none;
  outline:none;
  color:#FFF;
  font-size:14px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.5s;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.main_btn:hover {
cursor:pointer;
background:#eee;
color:#000;
  transform:rotate(360deg);
  -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
	}



.lightbox {
	/** Default lightbox to hidden */
	display: none;
	overflow:auto;
	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 5%;
	
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}
